{% extends "base.html" %}
{% block title %} O projekcie {% endblock %}
{% block content %}
    <style>
        p {
            max-width: 750px;
            margin: 35px;
            text-indent: 50px;
        }

        h2 {
            max-width: 50%;
            margin: 35px;
        }
    </style>
    <div class="center" style="margin: auto;width:50%;padding: 10px;">

        <h2>O programie:</h2>
        <p>
            Laboratoria Przyszłości to inicjatywa edukacyjna realizowana przez Ministerstwo Edukacji i Nauki we
            współpracy z
            Centrum GovTech w
            Kancelarii Prezesa Rady Ministrów. Naszą wspólną misją jest stworzenie nowoczesnej szkoły, w której zajęcia
            będą
            prowadzone w sposób ciekawy, angażujący uczniów oraz sprzyjający odkrywaniu ich talentów i rozwijaniu
            zainteresowań.
            <br>
        </p>
        <p>
            Celem inicjatywy jest wsparcie wszystkich szkół podstawowych w budowaniu wśród uczniów kompetencji
            przyszłości z
            tzw. kierunków STEAM (nauka, technologia, inżynieria, sztuka oraz matematyka). W ramach Laboratoriów
            Przyszłości
            organy prowadzące szkoły otrzymają od państwa wsparcie finansowe warte ponad miliard złotych, dzięki któremu
            miliony polskich uczniów będą mogły uczyć się poprzez eksperymentowanie i zdobywać w ten sposób praktyczne
            umiejętności. Wsparcie będzie przekazane w całości z góry - bez konieczności wniesienia wkładu własnego.
        </p>

        <h2>Cele:</h2>
        <p><b>Rozwijanie rzeczywistych kompetencji przyszłości</b>
            Proponujemy rozwiązania, które sprzyjają współpracy, kreatywności, umiejętności
            rozwiązywania problemów, a ponadto mają charakter interdyscyplinarny i mogą być
            wykorzystywane w ramach różnych przedmiotów szkolnych.
        </p>
        <p><b>Rozwój talentów i rozbudzanie zainteresowań</b>
            Celem programu jest zwiększenie zainteresowania młodych ludzi kierunkami STEM.
            Propozycja edukacyjna Nowej Ery w programie Laboratoria Przyszłości pomaga
            rozbudzać wśród młodzieży pasje przyrodnicze, technologiczne i matematyczne, co
            w przyszłości przełoży się na losy zawodowe uczniów.
            Angażujące i nowoczesne zajęcia szkolne</p>

        <h2>Do czego zobowiązana jest szkoła w ramach programu?</h2>
        <p><b>Szkoła jest zobowiązana do:</b>
        <ul style="margin: 35px; text-indent: 0px; max-width: 750px">
            <li>umożliwienia realizacji zajęć z wykorzystaniem tego wyposażenia (w tym jego instalacja
                i przeszkolenie osób
                prowadzących z nim zajęcia);
            </li>
             
            <li> uwzględnienia treści programowych z zakresu doradztwa zawodowego dla
                szkoły podstawowej podczas zajęć;
            </li>
            <li>dzielenia się dobrymi praktykami oraz wymiany wiedzy z innymi szkołami;</li>
             
            <li style="color:darkred"><strong>wykorzystywania wyposażenia w ciągu co najmniej pięciu kolejnych lat
                szkolnych, przez średnio minimum 3 godziny zajęć w każdym tygodniu nauki;</strong> 
            </li>
            <li> wyznaczenia koordynatora;</li>
            <li>składania sprawozdań z udziału w Laboratoriach Przyszłości. </li>
        </ul>
    </div>


{% endblock %}
